<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bored</title>
    <script src="/Redirect.js"></script>
    <script th:if="${invalidNumber}" src="/SaftysBored.js"></script>
    <link rel="stylesheet" href="/search.css">
</head>
<body>
<h1 class="titulo">Bored Api</h1>
<div class="input">
    <form th:action="@{/bored_results}" th:object="${query}" method="get" onsubmit="setClientId()">
        <input type="search" placeholder="Quantos Participantes (1-5)" th:field="*{content}">
        <input type="hidden" id="clientIdField" th:field="*{clientId}">
        <div class="buttons">
            <button type="submit">Pesquisar</button>
            <a th:onclick="|window.location.href='@{/menu}'|">Voltar</a>
        </div>
    </form>
</div>
</body>
</html>