<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--    <head>-->
<!--        <meta charset="UTF-8">-->
<!--        <title>Hacker News Search</title>-->
<!--    </head>-->
<!--    <body>-->
<!--        <h1>Pesquisa no Hacker News</h1>-->
<!--        <form action="/hackernews_search" method="get">-->
<!--            <label for="keywords">Palavras-chave (separadas por vírgula):</label>-->
<!--            <input type="text" id="keywords" name="keywords">-->
<!--            <button type="submit">Pesquisar</button>-->
<!--        </form>-->
<!--    </body>-->
<!--</html>-->
