<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Status</title>
    <script src="/Redirect.js"></script>
    <link rel="stylesheet" href="/results.css">
</head>
<body>
    <h1>Index Status</h1>
    <div th:if="${available}">
        <div class="Results">
            <a th:text="${content}"></a>
        </div>
    </div>
    <div th:if="${!available}">
        <div class="Results">
            <a>Storage Components Currently Down...</a>
        </div>
    </div>
    <div class="Botoes">
        <button th:onclick="|window.location.href='@{/menu}'|">Voltar</button>
    </div>

</body>
</html>
