<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <script src="/Redirect.js"></script>
    <link rel="stylesheet" href="/search.css">
</head>

<body>
<h1 class="titulo">Indexar</h1>
<div class="input">
    <form class="form" th:action="@{/indexing}" th:object="${query}" method="get" onsubmit="setClientId()">
        <input type="search" placeholder="URL A INDEXAR" th:field="*{urls}">
        <input type="hidden" id="clientIdField" th:field="*{clientId}">
        <div class="buttons">
            <button type="submit">Indexar</button>
            <a th:onclick="|window.location.href='@{/menu}'|">Voltar</a>
        </div>
    </form>
</div>
</body>
</html>
