<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script th:inline="javascript">
            /*<![CDATA[*/
            document.addEventListener('DOMContentLoaded', function() {
                var clientId = localStorage.getItem('clientId');
                if (!clientId) {
                    window.location.href = "/";
                }
            });
            function setClientId() {
                document.getElementById('clientIdField').value = clientId;
            }
            /*]]>*/
        </script>
    </head>
    <body>
        <h1>Info Page</h1>
        <div class="sv_online">
            
        </div>
        <button th:onclick="|window.location.href='@{/menu}'|">Voltar</button>
    </body>
</html>