<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADM Console</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/info.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/WebSocket.js"></script>
    <script src="/Redirect.js"></script>
</head>
<body>
<noscript>
    <h2 style="color: #ff0000">Parece que o seu navegador não suporta Javascript! Esta aplicação depende do Javascript estar ativado. Por favor, ative o Javascript e recarregue esta página!</h2>
</noscript>
<div id="main-content" class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">Conexão WebSocket:</label>
                    <button id="connect" class="btn btn-default" type="submit">Conectar</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Desconectar</button>
                </div>
            </form>
        </div>
    </div>
    <h4>Informações do Googol</h4>

    <div class="row justify-content-center">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Dados</th>
                </tr>
                </thead>
                <tbody id="SV_ON">
                <tr>
                    <td>Servidores online</td>
                </tr>
                </tbody>
                <tbody id="Search">
                <tr>
                    <td>Top Pesquisas</td>
                </tr>
                </tbody>
                <tbody id="Response">
                <tr>
                    <td>Tempo de Resposta dos Servidores</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="Botoes">
        <button th:onclick="|window.location.href='@{/menu}'|">Voltar</button>
    </div>
</div>
</body>
</html>
