<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Googol</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/menu.css">
  <script src="/Redirect.js"></script>
</head>

  <body>
    <h1 class="title">Escolha a opção</h1>
    <ul class="shadow-set">
      <li><button th:onclick="'window.location.href=\'/index\' '"><i class="fa-solid fa-thumbtack"></i>  Indexar</button></li>
      <form th:action="@{/search}" th:object="${query}" method="get" onsubmit="setClientId()">
        <input type="hidden" id="clientIdField" th:field="*{clientId}">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i>  Pesquisar</button>
      </form>
      <li><button th:onclick="'window.location.href=\'/info\' '"><i class="fa-solid fa-chart-column"></i>  Status Console</button></li>
      <li><button th:onclick="'window.location.href=\'/pages\' '"><i class="fa-solid fa-link"></i>  Ligação de Paginas</button></li>
      <li><button th:onclick="'window.location.href=\'/bored\' '"><i class="fa-solid fa-dice"></i>  Bored</button>
      <li><button th:onclick="'window.location.href=\'/disconnect\' '"><i class="fa-solid fa-power-off"></i> Sair</button></li>
    </ul>
  </body>
</html>


