<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ligação de Paginas</title>
    <script src="/Redirect.js"></script>
    <link rel="stylesheet" href="/search.css">
    <script th:if="${invalidUrl}" src="/SaftysPages.js" ></script>
</head>
<body>
<h1 class="titulo">Ligação de Paginas</h1>
<div class="input">
    <form th:action="@{/pages_result}" th:object="${query}" method="get" onsubmit="setClientId()">
        <input type="search" placeholder="URL da Página a Pesquisar..." th:field="*{content}">
        <input type="hidden" id="clientIdField" th:field="*{clientId}">
        <div class="buttons">
            <button type="submit">Pesquisar</button>
            <a th:onclick="|window.location.href='@{/menu}'|">Voltar</a>
        </div>
    </form>
</div>
</body>
</html>
